<div id="chatPage">
    <div id="chatContainer" class="chat-container"></div>

<!-- Footer -->
<div class="chat-footer">
  <input type="text" id="text" placeholder="Ask me anything" autocomplete="off" required>
  <input type="file" id="fileInput" style="display: none;" accept="image/*">
  <button id="attachment">
      <i class="fas fa-paperclip"></i>
  </button>
  <button id="send">
    <i class="fas fa-location-arrow"></i>
  </button>
</div>
</div>
<script src="/js/script.js"></script>
